<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Update user</title>-->
<!--</head>-->
<!--<body>-->

<!--<form th:method="PATCH" th:action="@{/admin/{id}(id = ${user.getId()})}" th:object="${user}">-->
<!--    <label for="username">Enter name:</label>-->
<!--    <input type="text" th:field="*{username}" id="username"/>-->
<!--    <br/>-->
<!--    <br/>-->
<!--    <label for="password">Enter lastName:</label>-->
<!--    <input type="text" th:field="*{password}" id="password"/>-->
<!--    <br/>-->
<!--    <br/>-->
<!--    <label for="email">Enter email:</label>-->
<!--    <input type="text" th:field="*{email}" id="email"/>-->
<!--    <br/>-->
<!--    <br/>-->
<!--    <input type="submit" value="Update!"/>-->
<!--</form>-->

<!--<a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>-->

<!--<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">-->
<!--    <input hidden type="submit" value="Sign Out"/>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->