<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"-->
<!--          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">-->


        <!--Bootstrap-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--Bootstrap-->
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <title>Все люди</title>
</head>
<body>


<div class="panel panel-dark">
    <div class="panel-heading">Zagolovok</div>
</div>


<div class="container-fluid">
    <div class="bg-dark text-white">
        <div class="d-flex justify-content-between">
    <span>
<!--        Текст слева-->
        <div th:each="user : ${loginUser}">
        <a class="navbar-brand" href="#!">
    <a th:text="${user.getUsername()}">VALUE</a>
        <a>with roles: </a>
        <a th:text="${user.getRoles2()}">VALUE</a>
    </a>
</div>
    </span>
            <span>
<!--        Текст справа-->
                <!--        <div class="col-md-6"><span class="pull-right">-->
            <a href="javascript: document.logoutForm.submit()" role="menuitem">
                <div class="bg-dark text-white"> Logout</div>
            </a>
            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Sign Out"/>
            </form>
                <!--     </span>-->
                <!--</div>-->
    </span>
        </div>
    </div>
</div>

<nav class="navbar navbar-light bg-light">
</nav>
<nav class="navbar navbar-light bg-light">
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="bg-dark text-white">
                <div >
                    <a href="#" th:href="@{/admin}  " th:text="Admin">Admin</a>
                </div>
                <div th:each="user : ${loginUser}">
                    <a class="navbar-brand" href="#!">
                        <a href="#" th:href="@{/admin/(id=${user.getId()})}  " th:text="User"
                        >User</a>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h2>Admin panel</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${userss}">
                    <td>
                        <a th:text="${user.getId()}"></a>
                    </td>
                    <td>
                        <a th:text="${user.getUsername()}"></a>
                    </td>
                    <td>
                        <a th:text="${user.getEmail()}"></a>
                    </td>
                    <td>
                        <a th:text="${user.getRoles()}"></a>
                    </td>
                    <td>
                        <a href="#" class="btn btn-info"
                           th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>
                    </td>
                    <td>
                        <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                            <input href="#" class="btn btn-danger" type="submit" value="Delete"/>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<form>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">
            <div class="bg-dark text-white">
                <div class="container-fluid">
                    <div>
                        <a href="#" th:href="@{/admin}  " th:text="Admin">Admin</a>
                    </div>
                    <div th:each="user : ${loginUser}">
                        <a class="navbar-brand" href="#!">
                            <a href="#" th:href="@{/admin/(id=${user.getId()})}  " th:text="User"
                            >User</a>
                        </a>
                    </div>
                </div>
            </div>
        </label>


        <div class="container">
            <div class="row">
                <h2>Admin panel</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${userss}">
                        <td>
                            <a th:text="${user.getId()}"></a>
                        </td>
                        <td>
                            <a th:text="${user.getUsername()}"></a>
                        </td>
                        <td>
                            <a th:text="${user.getEmail()}"></a>
                        </td>
                        <td>
                            <a th:text="${user.getRoles()}"></a>
                        </td>
                        <td>
                            <a href="#" class="btn btn-info" th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>
                        </td>
                        <td>
                            <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                                <input href="#" class="btn btn-danger" type="submit" value="Delete"/>
                            </form>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <br/>
        <hr/>
    </div>
</form>
<a href="/admin/new">New User</a>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!--<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>-->

</body>
</head>
</html>