<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->
<!--<head>-->
<!--    <title>Spring Security Example</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>User, welcome spring boot security page!</h1>-->


<!--</body>-->
<!--</html>-->


<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Человек</title>-->
<!--</head>-->
<!--<body>-->
<!--<p th:text="${getUserId.getUsername()}">VALUE</p>-->
<!--<p th:text="${getUserId.getId()}">VALUE</p>-->

<!--<a th:href="@{/templates/user/{id}/edit(id=${getUserId.getId()})}">Edit</a>-->

<!--<form th:method="DELETE" th:action="@{/templates/user/{id}(id=${getUserId.getId()})}">-->
<!--    <input type="submit" value="Delete"/>-->

<!--</form>-->
<!--</body>-->
<!--</html>-->